@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");
@import "tailwindcss";

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}

.patrick-hand-regular {
  font-family: "Indie Flower", cursive;
  font-weight: 400;
  font-style: normal;
}
